<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goods">



 <select id="goodsRetrieve" resultType="GoodsDTO" 
 parameterType="string">
select goods_Code
   		,goods_Color
   		,goods_Name
   		,goods_Price
   		,goods_Brand
   		,goods_Image1
   		,goods_Image2
   		,goods_Content
   		,goods_Category
   		from goods 
   		where goods_Code=#{goods_Code} 
 </select> 
 <select id="goodsList" resultType="GoodsDTO" parameterType="string">    
  select goods_Code
   		,goods_Color
   		,goods_Name
   		,goods_Price
   		,goods_Brand
   		,goods_Image1
   		,goods_Category
  from goods 
  where goods_Category=#{goods_Category} 
 </select>
 <select id="goodsAll" resultType="GoodsDTO">
 select goods_Code
   		,goods_Color
   		,goods_Name
   		,goods_Price
   		,goods_Brand
   		,goods_Image1
   		,goods_Category
  from goods  
 </select>
 
 <!-- sort -->
 
 <select id="goodsSortHigh" resultType="GoodsDTO" parameterType="string">
  select goods_Code
   		,goods_Color
   		,goods_Name
   		,goods_Price
   		,goods_Brand
   		,goods_Image1
   		,goods_Category
  from goods 
   where goods_Category = #{category}
  order by goods_price desc 
 </select>
  
   <select id="goodsSortLow" resultType="GoodsDTO" parameterType="string">
  select goods_Code
   		,goods_Color
   		,goods_Name
   		,goods_Price
   		,goods_Brand
   		,goods_Image1
   		,goods_Category
  from goods 
  where goods_Category = #{category}
  order by goods_price asc 
 </select>
 
  <select id="goodsSortHighAll" resultType="GoodsDTO">
  select goods_Code
   		,goods_Color
   		,goods_Name
   		,goods_Price
   		,goods_Brand
   		,goods_Image1
   		,goods_Category
  from goods 
  order by goods_price desc 
 </select>
  
   <select id="goodsSortLowAll" resultType="GoodsDTO">
  select goods_Code
   		,goods_Color
   		,goods_Name
   		,goods_Price
   		,goods_Brand
   		,goods_Image1
   		,goods_Category
  from goods 
  order by goods_price asc 
 </select>
 
    <select id="goodsSortDate" resultType="GoodsDTO">
  select goods_Code
   		,goods_Color
   		,goods_Name
   		,goods_Price
   		,goods_Brand
   		,goods_Image1
   		,goods_Category
  from goods 
  order by goods_price asc 
 </select>
 
    <select id="goodsSortColor" resultType="GoodsDTO" parameterType="hashmap">
  select goods_Code
   		,goods_Color
   		,goods_Name
   		,goods_Price
   		,goods_Brand
   		,goods_Image1
   		,goods_Category
  from goods 
  where goods_category = #{category}
  and goods_color in 
  <foreach close=")" separator="," open="(" collection="color" index="index" item="item"> #{item} </foreach>
 </select>
 
     <select id="goodsSortBrand" resultType="GoodsDTO" parameterType="hashmap">
  select goods_Code
   		,goods_Color
   		,goods_Name
   		,goods_Price
   		,goods_Brand
   		,goods_Image1
   		,goods_Category
  from goods 
  where goods_Category = #{category}
    and goods_Brand in 
  <foreach close=")" separator="," open="(" collection="brand" index="index" item="item"> #{item} </foreach>
 </select>
 
      <select id="goodsSortBrandColor" resultType="GoodsDTO" parameterType="hashmap">
  select goods_Code
   		,goods_Color
   		,goods_Name
   		,goods_Price
   		,goods_Brand
   		,goods_Image1
   		,goods_Category
  from goods 
  where goods_Category = #{category}
  and goods_Brand in
  <foreach close=")" separator="," open="(" collection="brand" index="index" item="item"> #{item} </foreach>
  and goods_Color in
  <foreach close=")" separator="," open="(" collection="color" index="index" item="item"> #{item} </foreach>
 </select>
 
     <select id="goodsSortColorAll" resultType="GoodsDTO" parameterType="hashmap">
  select goods_Code
   		,goods_Color
   		,goods_Name
   		,goods_Price
   		,goods_Brand
   		,goods_Image1
   		,goods_Category
  from goods 
  where goods_color in 
  <foreach close=")" separator="," open="(" collection="color" index="index" item="item"> #{item} </foreach>
 </select>
 
      <select id="goodsSortBrandAll" resultType="GoodsDTO" parameterType="hashmap">
  select goods_Code
   		,goods_Color
   		,goods_Name
   		,goods_Price
   		,goods_Brand
   		,goods_Image1
   		,goods_Category
  from goods 
  where goods_Brand in 
  <foreach close=")" separator="," open="(" collection="brand" index="index" item="item"> #{item} </foreach>
 </select>
 
       <select id="goodsSortBrandColorAll" resultType="GoodsDTO" parameterType="hashmap">
  select goods_Code
   		,goods_Color
   		,goods_Name
   		,goods_Price
   		,goods_Brand
   		,goods_Image1
   		,goods_Category
  from goods 
  where goods_Brand in 
  <foreach close=")" separator="," open="(" collection="brand" index="index" item="item"> #{item} </foreach>
  and goods_Color in
   <foreach close=")" separator="," open="(" collection="color" index="index" item="item"> #{item} </foreach> 
 </select>
 
 
 <select id="goodsColorChart" parameterType="string" resultType="string">
 select DISTINCT goods_Color
	from goods
	where GOODS_CATEGORY = #{category}
 </select>
 
  <select id="goodsBrandChart" parameterType="string" resultType="string">
 select DISTINCT goods_Brand
	from goods
	where GOODS_CATEGORY = #{category}
 </select>
 
  <select id="goodsColorChartAll" resultType="string">
 select DISTINCT goods_Color
	from goods

 </select>
 
  <select id="goodsBrandChartAll" resultType="string">
 select DISTINCT goods_Brand
	from goods

 </select>
	
</mapper>